@charset "UTF-8";

*{
    font-family: Arial, Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #C68091, #45262E );
}
main {
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #130a0ca8;
        width: 600px;
        padding: 10px;
        margin: auto;
}

h1 {
    color: #6D9172;
    text-align: center;
    text-shadow: 1px 1px 2px #425845;
}

h2 {
    color: #BDDEC1 ;
}

p {
    text-align: justify;
}